table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.table-wrapper {
  margin: 3rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pagination-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page-number-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  /* justify-content: center; */
  padding-left: 0;
}

.pagination-section li {
  list-style: none;
  cursor: pointer;
}

.pagination-section span {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  cursor: pointer;
}

.active-page {
  color: brown;
  font-weight: 700;
  font-size: 20px;
}

.per-page-dropdown-selector {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}
