.header-container {
  width: 95vw;
  background-color: rgb(112 227 213 / 57%);
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 1rem;
  margin-bottom: 0.5rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.navbar-container a {
  list-style: none;
  text-decoration: none;
  color: #fff;
}

.right-menu-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
